 * {
    box-sizing: border-box;
 }
 body {
    box-sizing: border-box;
    background-color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 100px;
    width: auto;
    height: 70px;
}
.logo,
.right-links {
    display: flex;
    align-items: center;
    font-size: 40px;
}
ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
.hero-image {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
    width: auto;
    height: 800px;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: left;
    
}
.left h1 {
    font-size: 80px
}
.left h3 {
    font-size: 40px;
    font-weight: 100;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
    width: auto;
    height: 450px;

    text-align: center;
    border-radius: 20px;
    font-size: 30px;
}
.section2-heading {
    text-align: center;
    font-size: 30px
}
.illustration {
    width: 200px;
    height: 200px;
    border: 6px solid #3B82F6;
    border-radius: 20px;
}
.section2-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: 500px;
    gap: 200px;
    
}
.section2 {
    height: 500px;
    margin: 20px;
    margin-bottom: 100px;

}
.image1,
.image2,
.image3,
.image4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
    text-align: center;
    
}
.hero-text {
display: flex;
flex-direction: column;
background-color: #E5E7EB;
width: auto;
height: 700px;
justify-content: center;
align-items: center;
}
.hero-text h3 {
    width: 1500px;
    height: 50px;
    text-align: end;
    font-size: 30px;
    margin: 0px;

   

}
.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 200px;
    width: 1500px;
    font-size: 45px;
    font-weight: 300;
    font-family:'Courier New', Courier, monospace;
}
.section3 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 700px;
    justify-content: center;
    align-items: center;
}
.card-text {
    display: flex;
    flex-direction: column;
    background-color: #3B82F6;
    width: 1000px;
    height: 300px;
    text-align: left;
    justify-content: center;
    color: white;
    font-size: 30px;
    padding-left: 200px;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0%;
}
.action {
    font-weight: bolder;
    font-size: 40px;
}
.card-button {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: rgb(59, 130, 246);
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0%;

}

button {
    font-size: 30px;
    color: white;
    background-color: rgb(59, 130, 246);
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    box-shadow: none;
    border-style: solid;
}
.section4 {
    width: auto;
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}